doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="main-container")
      div(class="header")
        h1 Odin Members Only Clup
      div(class="content")
        block content
      div(class="footer")
        p The Odin Project 2023 - Coded by 
          a(href="https://github.com/oguzhan-ulutas") oguzhan-ulutas